.Menu {
  background-color: #EBEEF6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1440px;
  height: 48px;
}

.Menu a {
  font-size: 11px;
  margin: 5px;
  text-decoration: none;
  color: inherit;
  color: #266FB5;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Menu a :hover {
  opacity: 0.7;
}

.Menu a p {
  margin-left: 5px;
}

.icons_menu {
  width: 20px;
  height: 20px;
}
